.calculate-container {
    padding: 16px;
}

.c-contentsArea {
    background: var(--base-900);
}

.download-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .download-items {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    
        .download-item {
            width: 348px;
        }
    }    
    #downloadButton {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 30px;
        background: var(--primary-600);
        color: var(--text-main);
        border: none;
        border-radius: 4px;
        &:disabled {
            background: var(--primary-800);
            opacity: 0.7;
        }
    }
}

.print-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
    .print-item {
        width: 348px;
    }
    #printButton {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 30px;
        background: var(--primary-600);
        color: var(--text-main);
        border: none;
        border-radius: 4px;
        &:disabled {
            background: var(--primary-800);
            opacity: 0.7;
        }
    }
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin: 0;
}
// .checkbox-parts.disabled {
//     background: var(--primary-800);
//     opacity: 0.7;
//   }

.checkbox-title {
    margin: 0;
}

legend {
    font-size: 16px;
    font-weight: 700;
}

.radio-parts {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 6px 16px 6px 24px;
    background-color: #404347;
    border-radius: 3px;
    margin-top: 4px;
}
