.left-contents {
  width: 450px;
  float: left;
  position: relative;
  margin-right: 15px;

  .pickup-table {
    width: 100%;
    margin-bottom: .8em;
  }

}
.basic-img{
  padding-right: 40px;
  img{
    width: 100%;
  }
}
.basic-note-img{
  span{
    font-size: 12px;
  }
}
.right-contents{
  position: relative; 
  float: left;

  .right-left-contents{
    position: relative;
    float: left;
    margin-right: 15px;
    
    .specification1-fieldset {
      margin-bottom: 70px;
      label {
        padding-left: .8em;
        margin-right: 15px;
      }
    }
  }

  .right-right-contents{
    position:relative; 
    float: left;

    .specification2-fieldset {
      width: 275px; 
      margin-bottom: .8em;
      label {
        padding-left: .8em;
      }
    }

  }

  .conditions-checkbox{
    float: right;
    width: 100%; 
  }

}


legend {
  font-size: 16px;
  line-height: 1.1;
}

fieldset {
  border: 1px #cacaca solid;
 
}

.basic-layout {
  padding-top: 40px;
}

.mt-16{
  margin-top: 16px;
}

.w-100 {
  width: 100%;
}

.title {
  color: #FFFFFF; 
  font-size: 14px;
}
.basic-layout-csf{
  position: absolute;
  width: 100%;
  height: 100%;
  .outter-info{
    position: relative;
    width: 100%;
    height: 100%;
    .info-cross-sectional-force{
      background: #FFFFFF;
      color: #000000;
      padding: 4px 8px;
      border: 4px solid #817e7e;
      position: absolute;
      left: 44%;
      -ms-transform: translateY(-50%);
      transform: translateX(-50%);
      top: 20%;
      font-size: 20px;
    }
  }
  
}