<ng-container *ngIf="!isManual()">
  <div class="basic-layout">
    <div class="container-fluid mt-16">
      <div class="row left-contents w-100">
        <div class="col">
          <section class="pickup-table">
            <h5 class="title" translate>basic-information.pick_bs</h5>
            <app-sheet #grid1 [options]="options1"></app-sheet>
          </section>
        </div>
        <div class="col">
          <section class="pickup-table">
            <h5 class="title" translate>basic-information.pick_sv</h5>
            <app-sheet #grid2 [options]="options2"></app-sheet>
          </section>
        </div>
        <div class="col">
          <section class="pickup-table">
            <h5 class="title" translate>basic-information.pick_tv</h5>
            <app-sheet #grid3 [options]="options3"></app-sheet>
          </section>
        </div>
      </div>
    </div>
    <div *ngIf="menuService.selectedRoad === true">
      <div class="container-fluid mt-16 basic-note-img"><span translate>basic-information.note_img</span></div>
      <div class="container-fluid mt-16 basic-img" ><img [src]="imgLink"></div>
    </div>
  </div>
</ng-container>
