.c-subNavArea {
  padding-top: 11px;

  &__nav {
      display: flex;
      column-gap: 8px;
      margin: 0 0 0 16px;
      padding: 0;
      font-size: 0; /* タグ改行時の空白防止 */
      font-size: 13px;
  }

  a.is-active {
      background: var(--base-900);
      color: var(--primary);
  }

  &__navItem {
      display: inline-block;
      font-size: 13px; /* ulでサイズ0にしたのを戻す */
  }

  &__navItemTitle {
      transform: translateX(0);
      display: block;
      // border-bottom: 1px solid #000080;
      padding: 10px 15px;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      background: var(--base-700);
      border-radius: 4px 4px 0px 0px;
  }
}

.c-sheetArea {
  padding-top: 24px;
  padding-left: 16px;
  background: var(--base-900);
}