<div class="modal-wrapper">
  <div class="text">{{ message }}</div>
  <div class="button-wrapper" *ngIf="dialogMode === 'confirm'">
    <div
      type="button"
      class="button secondary"
      (click)="modal.close('no')"
      translate
    >
      modal.cancel
    </div>
    <div
      type="button"
      class="button primary"
      (click)="modal.close('yes')"
      translate
    >
      modal.ok
    </div>
  </div>
  <div class="button-wrapper" *ngIf="dialogMode !== 'confirm'">
    <div
      type="button"
      class="button primary"
      (click)="modal.close('ok')"
      translate
    >
      modal.close
    </div>
  </div>
</div>
