.header {
    position: fixed;
    width: 100%;
    display: flex;
    color: var(--text_main);
    background: var(--base);
    z-index: 1000;
    .container {
        position: relative;
        max-width: 100%;
        padding: 0 8px !important;
    }
}

// 左のメニュー画面
.c-container {
    margin: 0 auto;
    width: 100%;
    max-width: 2500px;
    min-width: 1024px;
    padding-top: 44px;
}

.c-mainNavArea {
    // padding-top: 0px;
    width: 212px;
    height: 100%;
    background: var(--base-950);
    position: fixed;
    top: 44px;
    left: 0;
    overflow-y: auto;
    z-index: 500;
    transition: width 0.3s ease;
    ul {
        padding-left: 0;
        margin: 40px 4px auto 4px;
    }
    &__nav {
        margin-bottom: 0;
        padding-left: 0;
    }
    &__navItem {
        margin-bottom: 4px;
        &:nth-child(1) {
            margin-bottom: 16px;
        }
        &:nth-child(10) {
            margin-bottom: 16px;
        }
    }
    &__navItemTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 8px;
        width: 100%;
        padding: 4px 0 4px 15px;
        border-radius: 100px;
        background: var(--base_dim);
        font-size: 13px;
        color: var(--text_main);
        cursor: pointer;
        &:hover:not(.disabled):not(.is-active) {
            opacity: 0.8;
        }
        &.is-active {
            color: var(--text_main);
            background: var(--primary);
        }
    }
}

.c-mainNavArea {
    &__navItem {
        &.disabled {
            pointer-events: none;
            color: var(--text_disabled);
        
            svg {
                circle[fill="white"] {
                    fill: var(--text_disabled);
                }
                path[stroke="white"] {
                    stroke: var(--text_disabled);
                }
                path[fill="white"] {
                    fill: var(--text_disabled);
                }
                rect[fill="white"] {
                    fill: var(--text_disabled);
                }
            }
            a {
                pointer-events: none;
                color: var(--text_disabled);
            }
        }
    }
}

// メインエリア
.c-contentsArea {
    margin-left: 212px;
}
