legend {
  font-size: 16px;
  line-height: 1.1;
}

fieldset {
  border: 1px #cacaca solid;
  padding-right: 15px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: var(--text_main);
}


.tabContent {
  padding: 15px;
  background: var(--base-900);

  .tab-inner {
    padding-top: 16px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &.hide {
      visibility: collapse;
      height: 0;
    }

    .line{
      border:red 2px;
    }
  }

  .download-item {
    margin-top: 10px;
    width: 348px;

    .checkbox-container {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

}

.safety-factors,
.material-strength {
  display: inline-block;
  margin-bottom: 20px;
}

.safety-factors,
.pile-factors {
  display: inline-block;

  table {
    margin: 15px;
   
  }
  .hideTab{
    color: gray;
    pointer-events: none;
    input{
      color: gray;
    }
  }
  .dottedLine{
    border: 10px dotted red;
    display: table-cell;
  }
  th {
    border: 1px solid var(--table_border);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 0;
    line-height: 1.5;
    background: var(--table_row_even_bg);   
  }

  td {
    border: 1px solid var(--table_border);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding: 0;
    line-height: 1.5;

  }

  tr:nth-child(odd) {
    background: var(--table_row_odd_bg);
  }

  tr:nth-child(even) {
    background: var(--table_row_even_bg);
  }

  .center {
    text-align: center;
    vertical-align: middle;

    input[type="checkbox"]:checked {
      accent-color: #00C95F;
      background-color: opacify($color: #000000, $amount: 0);
    }
  } 
  .diagonalRising {
    background: linear-gradient(to left top, transparent 0%, transparent 50.5%, gray 52.5%, transparent 54.5%, transparent 100%)
  }
  .levelType{
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    max-width: 80px;
   
  }
  input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .hideCol{
    display: none;
  }  
}

//#00C95F
.table-container {
  float: left;
  // margin-bottom: 15px;
}

.range-fieldset {
  float: right;
  // margin-left: 15px;
}
.hideSei{
  color: gray !important;
  pointer-events: none;
}
.tab-select {
  &-items {
    display: flex;
    list-style: none;
    column-gap: 2px;
    padding: 0;
    margin: 0;
  }

  &-item {
    color: var(--text_main);
    font-size: 12px;
    padding: 8px 16px;
    background: var(--base-700);
    cursor: pointer;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }

    &.is-active {
      color: var(--primary);
      background: var(--base-950);
    }
  }
}

.sectionTitle {
  color: #fff;
}