.ht-container {
  width: 818px;
}

.left-contents {
  float: left;
  margin-right: 15px;
}

.basic-layout {
  padding-top: 40px;
}

.mt-16{
  margin-top: 16px;
  margin-left: 16px;
}

.w-100 {
  width: 100%;
}
