$border-color: #42c1ca;
.welcome-message {
    display: flex;
}
div.disabled{
    background-color: #93999e;
}
.margin {
    margin: 0 5;
}

.dropdownmenu {
    z-index: 1050;
    .save-file {
        pointer-events: none;
        opacity: 0.4;
    }
    .active-save {
        pointer-events: all;
        opacity: 1;
    }
    .dropdown-toggle {
        &::after {
            border: none;
            top: 60%;
            right: -4px;
            transform: translateY(-50%) rotate(0);
            background-image: url("./../../../assets/icons/icon-arrow.svg");
            background-size: contain;
            width: 8px;
            height: 8px;
            position: absolute;
            background-repeat: no-repeat;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &.show {
        .dropdown-toggle {
            &::after {
                top: 40%;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

.title-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    font-weight: lighter;
    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
    }
    .icon-area {
        display: flex;
        a {
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 24px;
                font-weight: 400;
            }
            li:first-child {
                margin-left: 10px;
                margin-right: 30px;
            }
        }
        span {
            &:hover {
                cursor: pointer;
            }
        }
        svg {
            height: 16px;
            width: 16px;
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
    .icon {
        color: #fff;
    }
}

.rightArea {
    display: flex;
    align-items: center;
    .language-area {
        margin-right: 16px;
    }
}

// @media screen and (max-width:767px){
// }
i.fas {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
    font-size: 16px;
    font-weight: lighter;
    @media screen and (max-width: 767px) {
        margin: 4px 0;
    }
}

.title-filename {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    svg {
        margin-right: 4px;
    }
}

.login-item {
    color: #fff;
}

.icon-area a:hover + .fukidashi {
    display: block;
}

.icon-area a.file:checked + .fukidashi {
    display: none;
}

.userInfo {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.menu-item {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4px;
    padding-right: 12px;
}

.logOut {
    padding: 4px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .userInfo {
        display: block;
    }
}

// ラジオボタン
$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(255, 255, 255);
$md-radio-size: 16px;
$md-radio-checked-size: 8px;
$md-radio-ripple-size: 12px;
.md-radio {
    &.md-radio-inline {
        display: inline-block;
    }
    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked + label:after {
            transform: scale(1);
        }
    }
    label {
        display: inline-block;
        min-height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before,
        &:after {
            position: absolute;
            content: "";
            border-radius: 50%;
            transition: all 0.3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: calc($md-radio-size / 2 - $md-radio-checked-size / 2);
            left: calc($md-radio-size / 2 - $md-radio-checked-size / 2);
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }
}

#disTitle .dropdown-item {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    &:hover {
        background-color: var(--base);
        color: var(--primary);
        opacity: 1;
    }
}

.dropdown-menu.show {
    background: var(--base);
    overflow: hidden;
}

.file-layout {
    display: flex;
    gap: 4px;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.hr-1, .hr-2 {
    height: 28px;
    width: 1px;
    margin-left: 16px;
    // background: #535353;
    z-index: 2;
}
.hr-2{
    background: #535353;
    margin-right: 16px;
    margin-left: 0px 
}

.spec-layout {
    display: flex; 
    align-items: center;
    cursor: pointer;
}

.pr-0 {
    padding-right: 0;
}

.ml-16 {
    margin-left: 70px;
}

p {
    margin-bottom: 0;
}

.topic {
    font-weight: 700;
    margin-bottom: 8px;
}

.navbar .menu {
    margin-left: 30px;
}

.navbar .menu img {
    margin-right: 5px;
}

.navbar button {
    background: none;
    color: white;
    border: none;
}

.mega-menu {
    width: 673px;
    padding: 18px 24px;
    background: var(--base-950);
    position: absolute;
    z-index: 11;
    top: 38px;
    border: 1px solid var(--base-800);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    gap: 57px;
    display: flex;
    left: 238px;
    label {
        margin: 0;
    }
}

.mega-menu1 {
    width: 35%;
}

.mega-menu2 {
    width: 65%;
    .checkbox-parts {
        font-size: 12px;
        margin: 0;
        min-height: 24px;
        height: fit-content;
    }
}

.specification {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 8px;
}

.spec-rdo-active {
    border-radius: 3px;
    background: var(--checkbox-selected, #395B43);
    margin-bottom: 4px;
    align-items: center;
    color: var(--primary-600, #00C95F);
    cursor: pointer;
    font-weight: 700;
}

.spec-rdo-active input {
    margin: 6px;
}

.spec-rdo-active p {
    padding: 6px 0;
}

.spec-rdo-active input[type=radio] {
    width: 12px;
    height: 12px;
    accent-color: #00C95F;
}

.spec-rdo {
    border-radius: 3px;
    background: var(--base-900, #333D46);
    margin-bottom: 4px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}

.spec-rdo input {
    margin: 6px;
    outline: none;
}

.spec-rdo p {
    padding: 6px 0;
}

.spec-rdo input[type=radio] {
    accent-color: #00C95F;
}

.spec-rdo input[type=radio] {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #070F17;
    background-clip: content-box;
}

.spec-rdo input[type=radio]:checked {
    background-color: #00C95F;
    border: 3px solid #070F17;
}

.form-check-label,
.checkbox-container {
    width: 100%;
    cursor: pointer;
}

.cond-chk-active {
    position: relative;
    border-radius: 3px;
    background: var(--checkbox-selected, #395B43);
    gap: 6px;
    margin-bottom: 6px;
    align-items: center;
    color: var(--primary-600, #00C95F);
    font-weight: 700;
}

.cond-chk-active input {
    margin: 6px;
}

.cond-chk-active input[type=checkbox] {
    accent-color: #1E252C;
}

.cond-chk-active p {
    padding: 6px 0;
}

.cond-chk {
    border-radius: 3px;
    background: var(--base-900, #333D46);
    gap: 6px;
    margin-bottom: 6px;
    align-items: center;
    font-weight: 700;
}

.cond-chk input {
    margin: 6px;
}

.cond-chk p {
    padding: 6px 0;
}

.cond-chk input[type=checkbox] {
    accent-color: #1E252C;
}

.service-life {
    margin-top: 16px;
    gap: 6px;
    align-items: center;
    font-weight: 700;
}

.service-life input {
    border-radius: 4px;
    background: #F5F5F5;
    border: none;
    height: 28px;
    outline: none;
    width: 60%;
}

.jA-jB {
    gap: 21px;
    font-weight: 700;
}